{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tags %}
<div class="col-md-12">
{% block detail %}
<div style="display: block; margin-top: 20px; margin-bottom: 30px;">
    <div class="row">               
        <div class="col-md-4">
            <img src="{{product.photo.url}}" width="400">
        </div> 

        <div class="col-md-8">
            <div>
               <div style="display: inline-block; margin-right: 50px;"><h2>{{product.name}}</h2></div>
               {% with total_likes=product.like.count %}
                <div id="count_like" style="display: inline-block">
                    <button style="font-size: 25px" class="btn btn-success">{{ total_likes }} like</button>
                </div> 
                {% endwith %}
            </div>
            <p class="price"><h2>{{product.price}} P</h2></p> 
            <p class="category">Категория: <a href="{% url 'category_detail' slug=product.category.slug %}" style="text-decoration: none;">{{product.category}}</a></p> 
            <p style="display: block;"><a href="{% url 'add_prod_to_cart'  id=product.id %}"><button class="btn btn-danger">Добавить в корзину</button></a></p>
            <p style="display: inline-block"><a href="{% url 'share'  id=product.id %}"><button class="btn btn-primary">Поделиться</button></a></p>
        </div>
    <div>
        <h3>Описание</h3>
        {{product.description}}
    </div>
</div>
</div>

<div class="post_comment">
    <h3 style="display: inline-block;">Оставить комментарий</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
    <input type="submit" class="btn btn-primary" value="Отправить">
    </form>
</div>


<div class="comment">
    <div>
        <h4 style="margin-bottom: 25px; display: inline-block;">Отзывы: {{comments.count}}</h4>
        <div style="display: inline-block; margin-left: 30px;"><button data-button class="btn btn-primary">Оставить отзыв</button></div>
    </div>
{% for comment in comments %}
    <div class="header">
        <p class="object_in_comment"><strong>{{comment.user}}</strong></p>
        <p class="object_in_comment">{{comment.time_date}}</p>
    </div>
    <div class="body_comment">
        {{comment.text}}
    </div>
    <hr> 
     {% endfor %} 
</div>
</div>



{% endblock %}


