{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block search %}

<div class="col-lg-3" style="margin-top: 50px;">
  <h4>Поиск</h4>
  <form action="{% url 'results' %}" method="POST">
    
    {% csrf_token %}
    <p style="display: inline-block; position: absolute;"><input type="text" class="form-control" name="name" style="width: 220px;" placeholder="Поиск"></p>

    <p style="display: inline-block; position: relative; left: 230px;"><input type="submit" class="btn btn-primary" value="Найти"></p>
</form>
</div>
 
{% endblock %}


{% block content %}

    {% for i in products %}
      <div class="col-lg-4 col-md-6 mb-4 mt-4">
        <div class="card" style="height: 420px;">
          <a href="{% url 'detail' id=i.id %}"><img class="card-img-top" src="{{i.photo.url}}" class="img-fluid"></a>
          <div class="card-body">
            <h4 class="card-title" >
              <a href="{% url 'detail' id=i.id %}">{{i.name}}</a>
            </h4>
            <h5>{{i.price}}руб</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    {% endfor %}

{% endblock %}


