<table class="table">
    <thead>
      <tr>
        <td scope="col" style="font-weight: 700;">Наименование</th>
        <td scope="col" style="font-weight: 700;">Значение</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Диагональ дисплея</td>
        <td>{{detail.diagonal}}</td>
      </tr>
      <tr>
        <td>Частота процессора</td>
        <td>{{detail.diagonal}}</td>
      </tr>
      <tr>
        <td>Оператива</td>
        <td>{{detail.diagonal}}</td>
      </tr>
      <tr>
        <td>Цвет</td>
        <td>Черный</td>
      </tr>

    </tbody>
  </table>  