<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<body>
<div class="container">
    <h3 class="text-center">Характеристики</h3>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'add_category' %}" class="list-group-item list-group-item action {% if request.path == '/admin_features/add_category/' %}active{% endif %}" >Создать новую категорию</a>
                <a href="{% url 'add_feature' %}" class="list-group-item list-group-item action {% if request.path == '/admin_features/add_feature/' %}active{% endif %}">Создать новую характеристику</a>
                <a href="{% url 'product_value' %}" class="list-group-item list-group-item action {% if request.path == '/admin_features/product_value/' %}active{% endif %}">Создать значение характеристики</a>
                <a href="#" class="list-group-item list-group-item actio">Создать характеристику для товара</a>
                <a href="#" class="list-group-item list-group-item action">Редактировать характеристику</a>
            </div>
        </div>
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>

 </body>   
<script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</html>