{% extends "base.html" %}


{% block content %}

{% for i in product %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="{% url 'detail' id=i.id %}"><img class="card-img-top" src="{{i.photo.url}}" class="img-fluid"></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{% url 'detail' id=i.id %}">{{i.name}}</a>
        </h4>
        <h5>{{i.price}}руб</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}